body {
  font-family: 'S-CoreDream', sans-serif;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: black; /* 부모 요소의 색상 상속 */
}

a:visited {
  color: black; /* 클릭한 후에도 색상 유지 */
}

/* a:hover {
  text-decoration: blink;
} */

a:active {
  color: inherit; /* 클릭할 때 색상 유지 */
}

