html {
  scroll-behavior: smooth;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}