.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0; 
  padding: 0; 
  overflow: hidden; /* 내용 넘침 방지 */
  background-color: white;
  color: #262622;
}
.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  width: 100%;
  height: 100%; /* 화면 전체를 사용 */
  display: block;
}
.text-content {
  margin: 0;
  padding: 0;
}
.keywords {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 15px; /* 키워드 사이의 간격 */
}
.text-content h2 {
  font-size: 1.65rem;
  font-weight: 600;
}
.keywords p {
  /* background-color: #B2BF4B; */
  background-color: #C9D94E;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.15rem;
  font-weight: 500;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.5);
  /* color: white; */
}
.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(235,235,235);
  border-radius: 10px;
  padding: 0px 5px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.5);
}
.contact-links a:hover{
  transform: scale(1.1);
  /* background-color: gray; */
}
.github {
  width: 40px;
  height: 50px;
}
.gmail {
  width: 35px;
  height: 46px;
}