.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0; /* 외부 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
  overflow: hidden; /* 내용 넘침 방지 */
  background-color: white;
}
.about-me-container h2, p {
  text-align: center;
}
.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(235,235,235);
  border-radius: 10px;
  padding: 0px 15px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.5);
}
.contact-links img {
  width: 40px;
  height: 50px;
}