.header {
  position: sticky;
  top: 0;
  background-color: #262622;
  padding: 1rem;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.header a {
  margin: 2px 15px;
  color: white;
}

.header a:hover {
  color: #C9D94E;
}