.projects-container {
  margin: 0; /* 외부 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.projects-container h2 {
  font-size: 1.65rem;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 800px;
  padding: 0 16px;
}

.project-card p{
  white-space: pre-wrap; /* 티클리 \n을 줄바꿈으로 처리 */
}

@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}
